body,
html {
    font-family: 'Lato', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 0.8em;
    overflow: auto;

}

.bold {
    font-weight: 600;
}

th {
    width: 180px;
    max-width: 180px;
    padding: 0.6em 0.6em 0.3em 0.6em;

}

td {
    width: 180px;
    max-width: 180px;
    text-align: center;
    padding: 0.3em 0em 0.3em 0em;
    text-wrap: wrap;
    font-size: 0.85em;

}

caption {
    background-color: #0064a4;
    padding: 1em 0em 1em 1em;
    text-align: left;
    color: #ffd200;
    font-size: 0.95em;
}

span {
    margin-right: 0.3em;
}

input,
select {
    box-sizing: border-box;
    width: 300px;
    height: 50px;
    font-size: 17.5px;
    text-align: center;
    border-radius: 10px;

}

#inputForm {
    padding-bottom: 2em;
}

#inputForm form {
    display: flex;
    column-gap: 2em;
}

#submitSearch,
#resetButton {
    font-family: 'Lato', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;

    font-weight: 600;
    font-size: 17.5px;
    border: none;
    width: 250px;
    height: 50px;
}

#submitSearch {
    background-color: #3d5ec9;
    color: white;
}

#submitSearch:hover {
    transition: 0.1s;
    background-color: #5c7be4;
    cursor: pointer;
}

#resetButton {
    color: black;
    background-color: rgb(220, 220, 220);
}

#resetButton:hover {
    transition: 0.2s;
    cursor: pointer;
    background-color: rgb(193, 193, 193);
}

img {
    width: 450px;
}

.outerWrap {
    display: flex;
}

.innerWrap2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-left: 8em;
    position: sticky;
}

#inputForm {
    text-align: center;
}